.wrap{
    margin-top: 20px;
    ul{
        display: flex;
        flex-wrap: wrap;
        .available,
        .nonavailable {
            display: flex;
            width: 150px;
            margin-right: 15px;
            margin-bottom: 1.5625rem;
            img {
                width: 20px;
                height: 20px;
                color: #000;
            }
            span {
                font-size: 15px;
                margin-left: 18px;
                line-height: 20px;
                color: #000;
            }
        }
        .nonavailable{
            img,
            span{
                opacity: .25;
            }
        }
    }
}
@media screen and (max-width: 375px){
    .wrap{
        ul{
            .available,
            .nonavailable {
                width: 120px;
                img {
                    width: 18px;
                    height: 18px;
                }
                span {
                    font-size: 12px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media screen and (min-width: 960px){
    .wrap {
        margin-top: 40px;
        ul {
            .available,
            .nonavailable {
                margin-right: 100px;
                margin-bottom: 1.5625rem;
                width: 220px;
                img {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 1.5em;
                    margin-left: 20px;
                    line-height: 35px;
                }
            }
        }
    }    
}

