.active{
    position: relative;
    top: -450px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    .overLayer{
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9;
    }
    .panel{
        z-index: 99;
        position: absolute;
        width: 1000px;
        height: 90%;
        background-color: #fff;
        //transform: translateY(-28rem);
    }
}

.nonactive{
    position: relative;
    z-index: 99;
    .overLayer{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9;
    }
}