.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    .info{
        width: 100%;
        .name,
        .phone{
            width: 100%;
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: .5rem;
                font-size: 1.25rem;
                font-weight: 400;
            }
            input{
                width: 100%;
                height: 43px;
                margin-bottom: 15px;
                border: 1px solid rgba(153, 153, 153,.5);
                background-color: #f8f8f8;
                outline: none;
                font-size: 25px;
            }
            p{
                color: #f00;
                margin-bottom: 15px;
            }
        }
        .date{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            label{
                margin-bottom: .5rem;
                font-size: 1.25rem;
                font-weight: 400;
            }
            .dateForm{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 45px;
                border: 1px solid rgba(153, 153, 153,.5);
                border-radius: 2px;
                input{
                    width: 70%;
                    height: 40px;
                    background-color: #f8f8f8;
                    border: none;
                    font-size: 20px;
                    margin-left: 10px;
                    outline: none;
                }
            }
            p{
                color: #f00;
                margin-bottom: 15px;
                margin-top: 12px;
            }
        }

        .calPrice{
            margin-top: 20px;
            display: block;
            width: 100%;
            background-color: rgba(168, 168, 168,.4);
            border-radius: 5px;
        }
        .noncalPrice{
            display: none;
        }


        .submit{
            margin: 20px 0px;
            width: 100%;
            height: 48px;
            button{
                width: 100%;
                height: 100%;
                background-color: #000;
                color: #fff;
                font-size: 20px;
                border: none;
                cursor: pointer;
                transition: .6s;
            }
            :hover{
                background-color: #555;
            }
        }
    }
}