.wrap{
    width: 100vx;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex-direction: column;
    .loading{
        display: flex;
        flex-direction: row;
        width: 500px;
    }
}